.filters{
    position: fixed;
    left : 250px;
    top : 60px;
    width : (100% - 250px);
    height : 60px;
    background-color: white;
    border-top : 1px solid #dbdbdb;
    border-bottom: 1px solid #dbddbd;
    padding : 0 20px;
    display : flex;
    align-items : center;
    overflow-x : auto;
    overflow-y : hidden;
}

.filters::-webkit-scrollbar{
    display : none;
}

.filter-option{
    flex : 0 0 auto;
    padding : 8px 16px;
    border-radius: 50px;
    background: #f0f0f0;
    border : 1px solid #dbdbdb;
    margin-right : 20px;
    color : #242424;
    font-size : 15px;
    cursor : pointer;
}

.filter-option.active{
    background: #242424;
    color : white;

}