.video-container{
    width : calc(100% - 250px);
    margin-top : 120px;
    margin-left : 250px;
    padding : 20px;
    display : grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap : 20px 5px;
    overflow-x : hidden;
}


.video{
   min-height : 250px;
   height : auto;
}

.thumbnail{
    width : 100%;
    height : 150px;
    object-fit: cover;
}

.content{
    width : 100%;
    height : 100px;
    padding : 10px;
    display : flex;
    justify-content: space-between;
}

.channel-icon{
    width : 40px;
    height : 40px;
    border-radius : 50%;
    object-fit : cover;
    margin-right : 10px;
    border : 1px solid #d4d4d4
}

.title{
    width : 100%;
    height : 40px;
    overflow : hidden;
}

.channel-name{
    font-size : 14px;
    margin : 2px 0;
    color : #7a7979
}

.views-time{
    font-size: 14px;
    color :#7a7979
}

.spinner{
    position : absolute;
    top : 50%;
    left : 50%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width : 40px;
    height : 40px;
    border : 5px solid #ccc;
    border-top : 5px solid #333;
    border-radius : 50%;
    animation : spin 1s linear infinite;
}


@keyframes spin {
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.video .thumbnail:hover{
    cursor:  pointer;
}

@media (max-width : 1000px) and (min-width : 700px){
    .video-container{
    width : calc(100% - 250px);
    margin-top : 120px;
    margin-left : 250px;
    padding : 20px;
    display : grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap : 20px 5px;
    overflow-x : hidden;
}
}


@media (max-width : 700px) {
    .video-container{
        width : 100%;
        margin-left : 0;
        grid-template-columns: repeat(1,100%);
        grid-gap : 10px;
    }
    .thumbnail{
        height : 250px;
    }

    .content{
       justify-content: flex-start;
    }

    .title{
        margin-top : 10px;
        height : 20px;
    }

    .channel-icon{
        margin-top: 5px;
        width : 50px;
        height : 50px;
    }

    .channel-name{
        margin-top : 0px;
        padding-right: 18px;
    }

    .details{
        margin-top : 5px;
        display: flex;
    }
    
}