.navbar{
    position : fixed;
    top : 0px;
    width : 100%;
    height : 60px;
    background-color: white;
    display : flex;
    align-items: center;
    padding : 0 2.5vw;
}


.toggle-btn{
    width : 20px;
    height : 10px;
    margin-top : 5px;
    margin-right : 20px;
    position : relative;
    cursor : pointer;
}

.toggle-btn span{
    position : absolute;
    width : 100%;
    height : 2px;
    top : 50%;
    transform : translateY(-50%);
    background-color : #6a6a6a;
}
.toggle-btn span:nth-child(1){
    top : 0;
}
.toggle-btn span:nth-child(3){
    top : 100%;
}

.logo{
    height : 30px;
    margin : 10px;
}

.search-box{
    position : relative;
    max-width : 500px;
    width : 50%;
    height : 35px;
    display : flex;
    margin : auto;
    border-radius : 20px;
    overflow : hidden;
    border : 2px solid #dbdbdb;
}

.search-bar{
    width : 90%;
    height : 100%;
    padding : 0 16px;
    font-size : 16px;
    border : none;
}

.search-btn{
    width : 10%;
    height : 100%;
    background: #f0f0f0;
    border : none;
    padding : 5px 0;
    cursor : pointer;
}

.search-btn img{
    height : 100%;   
}


.user-options{
    height : 35px;
    display : flex;
    align-items : center;
    margin-left : auto;
}

.user-options .icon , .bell-icon{ 
    height : 80%;
    margin-right : 20px;
    cursor : pointer;
}

.user-options .user-dp{
    cursor : pointer;
    height : 30px;
    aspect-ratio : 1;
    border-radius : 50%;
    overflow : hidden;
    border : 1px solid #dbdbdb;
}

.user-dp img{
    width : 100%;
    height : 100%;
    object-fit : cover;
}


@media  (max-width: 700px){
    .navbar{
        justify-content: space-between;
    }
    
    .logo{
        margin-right : auto;
    }

   .search-box{
        width : auto;
        padding-left : auto;
        max-width: none;
        margin: 0;
        border : none;
    }

    .search-bar{
        display : none;
    }

    .search-btn{
        width : 35px;
        background: transparent;
        border : none;
        padding : 0;
    }
    .search-btn img{
        height : 23px;
    }
    .user-options{
        height : 35px;
        margin-left : 0;
    }
    
    .user-options .icon{
        display:  none;
    }

}